<mat-sidenav-container mode="over" class="example-container">
  <mat-sidenav #side mode="over">
    <form (ngSubmit)="submit()">
      <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <mat-select (selectionChange)="search($event.value)">
          <mat-option>All</mat-option>
          <mat-option
            *ngFor="let type of wearable_types"
            [value]="type"
            (onSelectionChange)="search(type)"
            >{{ type }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </form>
    <mat-grid-list cols="3">
      <mat-list-item *ngFor="let wearable of filtered_wearables">
        <img [src]="wearable.image"
      /></mat-list-item>
    </mat-grid-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      class="tab"
      type="button"
      mat-button
      color="primary"
      (click)="side.toggle()"
    >
      <mat-icon>
        <span class="material-symbols-outlined"> checkroom </span>
      </mat-icon>
    </button>
    <div class="column">
      <div class="wearable-grid-item small">
        <img src="../../assets/images/hat-icon.png" alt="Hat" />
      </div>
      <div class="wearable-grid-item large">
        <img src="../../assets/images/top-icon.jpg" alt="Top" />
      </div>
      <div class="wearable-grid-item large">
        <img src="../../assets/images/bottom-icon.png" alt="Bottom" />
      </div>
      <div class="wearable-grid-item small">
        <img src="../../assets/images/shoes-icon.png" alt="Shoes" />
      </div>
    </div>
    <div class="column">
      <div class="wearable-grid-item small">
        <img src="../../assets/images/accessories-icon.png" alt="Accessories" />
      </div>
      <div class="wearable-grid-item small">
        <img src="../../assets/images/socks-icon.png" alt="Socks" />
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
