<mat-sidenav-container mode="over" class="example-container">
  <mat-sidenav #side mode="over">
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <mat-select (selectionChange)="search($event.value)">
          <mat-option>All</mat-option>
          <mat-option
            *ngFor="let type of wearable_types"
            [value]="type"
            (onSelectionChange)="search(type)"
            >{{ type }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </form>
    <mat-grid-list cols="3">
      <mat-list-item *ngFor="let wearable of filtered_wearables" (click)="handleClick(wearable)">
        <img [src]="wearable.image"/>
      </mat-list-item>        
    </mat-grid-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      class="tab"
      type="button"
      mat-button
      color="primary"
      (click)="side.toggle()"
    >
      <mat-icon>
        <span class="material-symbols-outlined"> checkroom </span>
      </mat-icon>
    </button>

    <button
      class="tab"
      type="button"
      mat-button
      color="primary"
      style="top: 150px"
      [routerLink]="['/']"
    >
      <mat-icon>
        <span class="material-symbols-outlined">home</span>
      </mat-icon>
    </button>

    <div class="column" ng-controller="MyController">
      <div class="wearable-grid-item small">
        <img id="hat" src="{{images['hat'].image}}" alt="Hat" />
      </div>
      <div class="wearable-grid-item large">
        <img id="top" src="{{images['top'].image}}" alt="Top" />
      </div>
      <div class="wearable-grid-item large">
        <img id="bottom" src="{{images['bottom'].image}}" alt="Bottom" />
      </div>
      <div class="wearable-grid-item small">
        <img id="shoes" src="{{images['shoes'].image}}" alt="Shoes" />
      </div>
    </div>
    <div class="column">
      <div class="wearable-grid-item small">
        <img id="accessory" src="{{images['accessory'].image}}"alt="Accessories" />
      </div>
      <div class="wearable-grid-item small">
        <img id="socks" src="{{images['socks'].image}}"alt="Socks" />
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
