<main>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
  <h1>MyRunway</h1>
  
  <label for="category-search">Search for a category</label>
  <input id="category-search" placeholder="Ex: Top"><button>search</button>
  
  <!-- <div ng-app="myApp" ng-controller="myCtrl">

      <select ng-model="selectedCategory" ng-options="x for x in categories">
      </select>
      
  </div>
      
  <script>
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope) {
        $scope.categories = ["Hat", "Top", "Bottom", "Shoes", "Accessories", "Socks"];
      });
  </script> -->
  
  <!-- <ejs-dropdownlist [dataSource]='localData' [fields]='dataFields'
    
    placeholder='Select a category' popupHeight='200px' popupWidth='250px'>

  </ejs-dropdownlist> -->
  
  <categories></categories>

</main>