<div id="main-container">
  <h1>Add Wearable</h1>
  <p>Center your wearable and snap a photo!</p>

  <div class="wardrobecam">
    <div id="wardrobecam-container">
      <div id="wardrobecam-preview">
        <div
          id="wardrobecam-image-display"
          *ngIf="isPhotoTaken; then staticPhotoBlock; else liveCamBlock"
        ></div>
        <ng-template #liveCamBlock>
          <div id="wardrobecam-live-image">
            <webcam
              [height]="500"
              [width]="500"
              [trigger]="triggerObservable"
              (imageCapture)="handleImage($event)"
              *ngIf="showWebcam"
              [allowCameraSwitch]="allowCameraSwitch"
              [switchCamera]="nextWebcamObservable"
              [videoOptions]="videoOptions"
              [imageQuality]="1"
              (cameraSwitched)="cameraWasSwitched($event)"
              (initError)="handleInitError($event)"
            ></webcam>
          </div>
        </ng-template>
        <ng-template #staticPhotoBlock>
          <div id="wardrobecam-preview-image">
            <div class="snapshot" *ngIf="webcamImage">
              <img [src]="webcamImage.imageAsDataUrl" />
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div id="wardrobecam-controls">
      <button
        id="wardrobecam-snap"
        class="actionBtn"
        (click)="triggerSnapshot()"
      >
        {{SnapshotButtonText}}
      </button>
      <!-- <button
        class="actionBtn"
        (click)="showNextWebcam(true)"
        [disabled]="!multipleWebcamsAvailable"
      >
        Change Webcam
      </button> -->
      <button id="wardrobecam-cancel" [routerLink]="['/']">Cancel</button>
    </div>
  </div>
</div>



<!-- <input
  id="cameraSwitchCheckbox"
  type="checkbox"
  [(ngModel)]="allowCameraSwitch"
/><label for="cameraSwitchCheckbox">Allow Camera Switch</label> -->
<br />
<!-- DeviceId:
<input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px" />
<button (click)="showNextWebcam(deviceId)">Activate</button> -->

<div class="snapshot" *ngIf="webcamImage">
  <h2>Nice one!</h2>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{ error | json }}</li>
</ul>
